.container {
  display: flex;
  justify-content: space-between;
  margin: 10px 2px;
  padding: 3px;
}

.container span {
  font-size: 19px;
  font-family: "Ubuntu";
  font-weight: 400;
}

.left_sect {
  text-align: justify;
  font-family: "Ubuntu";
  margin: 10px;
}

.right_sect {
  font-family: "Ubuntu";
  margin: 10px;
}

.btn {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
