* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(
    270deg,
    rgba(217, 59, 98, 0.9),
    rgba(233, 88, 96, 0.9)
  );
}

.container {
  margin: 7vh 2vh;
  background-color: white;
  border-radius: 8px;
}

